h1, h2, p{
    text-align: center;
}

.container1{
    width: 78%;
    height: 40px;
    margin-left: 15%;
    margin-top: 2%;
    display: flex;
    padding: 5px;
}
.container1 .box{
    width: 140px;
    height: 30px;
    margin: auto;
    display: flex;
    padding: 5px;
}
.container1 .box p{
    margin-left: 10%;
    margin-top: 2px;
}

.container2{
    width: 78%;
    height: 40px;
    margin-left: 18%;
    margin-top: 2%;
    display: flex;
    padding: 5px;
}
.container2 .box{
    width: 140px;
    height: 30px;
    margin: auto;
    display: flex;
    padding: 5px;
}
.container2 .box p{
    margin-left: 10%;
    margin-top: 2px;
}

.container3{
    width: 78%;
    margin-left: 03%;
    height: 40px;
    margin-top: 2%;
    display: flex;
    padding: 5px;
}
.container3 .box{
    width: 140px;
    height: 30px;
    margin: auto;
    display: flex;
    padding: 5px;
}
.container3 .box p{
    margin-left: 10%;
    margin-top: 2px;
}

@media screen and (max-width: 1440px) {
    .container1 {display: contents;}
    .container2 {display: contents;}
    .container3 {display: contents;}
}

@media screen and (min-width: 2560px) {
    .container1{
        width: 78%;
        height: 40px;
        margin-left: 20%;
        margin-top: 2%;
        display: flex;
        padding: 5px;
    }
    .container2{
        width: 78%;
        height: 40px;
        margin-left: 30%;
        margin-top: 2%;
        display: flex;
        padding: 5px;
    }
    .container3{
        width: 78%;
        height: 40px;
        margin-left:20%;
        margin-top: 2%;
        display: flex;
        padding: 5px;
    }
}
